form.wpcf7-form {
    /* border: 2px solid red;; */
    width: 740px;
    position: relative;
    left: 200px;
}

input.wpcf7-form-control {
    background-color: var(--circle-grey-color);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--font-d-grey-color);
    font-size: 16px;
}

form.wpcf7-form p label {
    color: var(--font-d-grey-color);
    font-size: 12px;
    font-weight: bold;
}

select.wpcf7-select {
    background-color: var(--circle-grey-color);
    color: var(--font-d-grey-color);
    font-size: 16px;
    border: none;
}

textarea.wpcf7-form-control {
    background-color: var(--circle-grey-color);
    color: var(--font-d-grey-color);
    font-size: 16px;
    width: 88%;
    border: none;
    border-radius: 5px;
}

textarea.wpcf7-form-control:focus,
select.wpcf7-select:focus {
    outline: none;
}

input.wpcf7-form-control.wpcf7-submit {
    width: 88%;
    height: 50px;
    background-color: var(--green-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div.wpcf7-mail-sent-ok {
    /* status message for mail sending action */
}