main.site-main.row {
    position: relative;
    max-width: 940px;
    /* background-color: bisque; */
    margin-left: 100px;
}

.bottom-margin {
    border-bottom: 2px dashed var(--circle-grey-color);
}

main.site-main p.welcome-msg {
    color: var(--font-d-grey-color); 
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

p.welcome-msg p.fa-grip-lines {
    color: var(--font-d-grey-color); 
    text-align: center;
}

.article-header {
    border-bottom: 1px solid var(--circle-grey-color);
}

.post-category {
    text-decoration: none;
    color: var(--font-l-grey-color);
}

ul.post-categories {
    display: inline-block;
    list-style: none;
    margin: 20px auto;
    margin-left: -38px;
    /* background-color: yellow; */
}

ul.post-categories a {
    text-decoration: none;
    color: var(--font-l-grey-color);
}
ul.post-categories a:hover {
    text-decoration: none;
    list-style: none;
    color: var(--green-color);
}

ul.post-categories li {
    display: inline-block;
    padding-right: 3px;
}

ul.post-categories li:not(:last-child) a:after {
    content: ",";
}

.post-category__separator-line {
    color: var(--circle-grey-color);
    font-size: 30px;
    font-weight: 100;

}

.post-category__separator-likes {
    color: var(--green-color);
}

.post-category__separator-comment {
    color: var(--green-color);
    transform: rotateY(180deg);
}

span.post-category__separator-likes-no,
span.post-category__separator-comment-no {
    color: var(--font-l-grey-color);
}

article.post h2 a {
    color: var(--font-black-color);
    font-size: 22px;
}

article.post p {
    color: var(--font-d-grey-color);
    font-size: 12px;
}
button.read-more {
    background-color: white;
    border: 0;
}
button.read-more a {
    color: var(--green-color);
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    border: 0px;
    margin-left: -7px;
}

button.read-more a:focus {
    outline: none;
}