main.site-main {
    max-width: 960px;
    margin: 0 auto;
}


/* Welcome message */
div.welcome-msg {
    color: var(--font-d-grey-color); 
    font-size: 18px;
    text-align: center;
}

div.welcome-msg>p {
    color: var(--font-d-grey-color); 
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
}

div.welcome-msg>i {
    color: var(--font-d-grey-color); 
    text-align: center;
    width: 100px;
    margin-bottom: 40px;
}

/* Button Load-More */
button.load-more {
    background-color: var(--green-color);
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 0;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

button.load-more a {
    color: white;
    text-decoration: none;
    line-height: 25px;
}

button.load-more:focus {
    outline: none;
}
