
.article {
    width: 940px;
    /* position: relative; */
    margin-top: 40px;
    padding-left: 130px;
    /* border-bottom: 1px solid var(--circle-grey-color); */
}

.article-image {
    margin: 30px auto;
}

.article-tags {
    display: block;
    letter-spacing: 0.24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-tags a {
    text-decoration: none;
    color: var(--green-color);
}

.article-tags a:hover {
    font-weight: bold;
    
}

/* Single-post Footer area */
footer.single-post__footer {
    border-bottom: 2px solid var(--circle-grey-color);
    width: 940px;
    padding: 20px 5px;
}

footer.single-post__footer span {
    font-size: 24px;
    font-weight: bold;
}

button.next-stories {
    float: right;
    background-color: var(--green-color);
    border-color: var(--green-color);
    border-radius: 4px;
    padding: 8px;
}

button.next-stories a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.24px;
}

button.next-stories a:hover {
    font-weight: bold;
}

button.next-stories:focus {
    outline: none;
}