:root {
    --green-color: #3eb3a5;
    --font-black-color: #272727;
    --font-d-grey-color: #8e8e8e;
    --font-l-grey-color: #c0c0c0;
    --font-com-color: #565656;
    --circle-grey-color: #ebebeb;

}

body {
	font-family: rockwell, Arial, sans-serif;
	letter-spacing: 0.25px;
}

section {
    max-width: 960px;
    margin: 0 auto;
}

.bottom-margin {
    border-bottom: 2px dashed var(--circle-grey-color);
}

.container {
    height: 65%;
}

.margin-left {
    margin-left: 150px;
}

ol, ul {
    list-style-type: none;
}